body {
    background-color: rgb(51, 14, 0);
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* #region PLAYERS */
.playerTabsContainer .user:nth-child(1) {
    top: 0;
    left: 0;
}
.playerTabsContainer .user:nth-child(1) .userPoints {
    background-color: sienna;
}

.playerTabsContainer .user:nth-child(2) {
    bottom: 0;
    left: 0;
}
.playerTabsContainer .user:nth-child(2) .userPoints {
    background-color: darkslategray;
}

.user > * {
    margin: 0;
}
.user {
    width: 150px;
    background-color: rgb(255, 192, 115);
    padding: 25px 10px;
    position: absolute;
}
.user hr {
    margin: 5px;
    color: black;
    border: 1px solid black;
}
.userPoints {
    color: goldenrod;
    text-align: right;
}
.totalPoints, .roundNumber, .selectedNumber {
    color: rgb(165, 0, 0);
    text-align: right;
}
/* #endregion */

/* #region DICES */
#diceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#diceContainer h2 {
    color: white;
    margin: 0;
}
.diceControllerBtn {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(255, 192, 115);
}
#dices {
    display: flex;
    gap: 25px;
}
.dice {
    font-size: 48px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.dice.held {
    background-color: lightgreen;
}
/* #endregion */